.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background:url(http://r3.cpapracticeadvisor.com/files/base/CSN/image/2015/04/16x9/1280x720/cell_phone_security_1_.5539308ab82f2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
color:#2D63FF;
font-family: 'Baskerville Old Face', serif;
font-size: 55px;
font-style: normal;
font-variant: normal;
font-weight: 500;
}

.jumbotron p {
color:#333;
font-family: 'Roboto', sans-serif;
font-size:20px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
color:#339;
font-family: 'Lora', serif;
font-size: 17px;
}

.learn-more a {
  color: #063;
}

.neighborhood-guides{
    background-color: #CFF;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #36f;
    font-size: 28px;

}

.neighborhood-guides p{
     font-size: 12px;
    margin-bottom: 17px;    
}
