html {
background-image: url("http://7-themes.com/data_images/out/14/6815386-wedding-wallpaper.jpg");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
body {
background-image: url("http://7-themes.com/data_images/out/14/6815386-wedding-wallpaper.jpg");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
nav {
padding-top: 30px;
text-decoration: none;
float: right;
padding-right: 40px;}

a:hover{
color: #FFE5BC;
}

h1 {
font-family: "lobster",cursive;
font-style: normal;
font-weight: 700;
font-size: 700%;
color: #fff;
line-height: 0.98;
color:#FFF;
font-variant: normal;
font-weight: 500;
text-shadow: 3px 3px #F6C;
}

h1:hover{
color:#FFF;
font-family: "lobster",cursive;
text-shadow: 3px 3px #909;}

h2 {
font-family: "lobster",cursive;
color:#F6C;
font-size: 28px;
text-shadow: 0px 0px #FFF;}

h3 {
font-family: "lobster",cursive;
font-size:24px;}

.more{
	background-color:paleviolet;
	border: 3px dotted #F3C;
	padding:10px 20px 10px 20px;
	margin:0px 200px 0px 200px;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */}
	
.more:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	background-color:#FFF;}
	
.title{
	font:Arial, Helvetica, sans-serif;
	font-size:20px;}
	
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px dotted pink;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: #F6C;
    color: #000000;
}
div.transbox p:hover {
    margin: 5%;
    font-weight: bold;
    color: #00000;
}

